body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #07427d;
}

h1, h2 {
  color: #0d4985;
}

.custom-img {
  max-width: 400px;   /* boleh tukar 600 / 700 / 900 */
}

.service-card {
  background-color: #0a2540;   /* biru gelap */
  color: white;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.service-card h5 {
  color: #ffffff;
}

.service-card p {
  color: #d1d5db;
}

/* Hover effect*/
.service-card:hover {
  transform: translateY(-5px);
}

.btn-primary {
  background-color: #1f8ef1;
  border: none;
}
